.button-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;

  .dash-button {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
    }
  }
}

