@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Poppins&display=swap');
@import 'normalize.css';

nav {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "logo menu logout";
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  padding: 50px 1.5vw;
  background-color: transparent;
  color: #fff;
  box-sizing: border-box;

  div {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-dropdown {
    grid-area: logout;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    >ul {
      height: 100%;
    }

    &>ul>li {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
    }

    &>ul>li>a {
      color: #08203e;
      margin: 0 5px;
      margin-left: 11px;
    }
  }

  h1 {
    text-align: center;
    margin: 0;

    a {
      font-size: 1em;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  li {
    position: relative;

    &:hover ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  a,
  button {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.5em;
    display: inline-block;
  }

  ul ul {
    display: none;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 1;

    li {
      height: 100%;
      width: 100%;

      &:hover {
        background-color: #eee;
      }

      a {
        padding: 10px 10%;
        color: #000;
        display: inline-block;
        font-size: medium;
      }
    }
  }

  form {
    width: 100%;
    height: 100%;

    button {
      border: none;
      background: none;
      color: rgb(236, 71, 71);
      cursor: pointer;
      transition: color 0.4s ease-in-out;
      padding: 0;
      font-size: medium;
      display: inline-block;
      padding: 10px 10%;

      &:hover {
        color: rgb(255, 57, 57);
      }
    }
  }

  .logo-div {
    grid-area: logo;
  }

  .arrow {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
  }
}