

.welcome-row{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px; /* Add padding */
  font-size: 0.9em; /* Adjust font size */
  text-align: center; /* Center align the text */
  color: var(--global-black); /* Set text color */
}
