.content>div>* {
  margin-bottom: 10px;
}

.content .scrollable-content {
  padding-bottom: 20px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.content .scrollable-content .sticky-top {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.content table {
  table-layout: fixed;
  border-collapse: collapse;
  min-width: 100%;
  box-sizing: content-box;
  border: 1px solid #ccc;
  margin-right: 1px;
}

.content table tr>td {
  color: #4f4f4f;
}

.content table th,
.content table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.content table th {
  background-color: #f2f2f2;
}

.dashboard-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.dashboard-top .results-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-div select,
.search-div input,
.search-div button {
  border: 1px solid #ccc;
  padding: 5px;
  height: 100%;
  width: clamp(30%, 31%, 33%);
}

.search-div button,
.search-div input[type=submit] {
  border-radius: 0;
  border: 0;
  color: var(--global-white);
  background-color: var(--global-green);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}

.modal-content button {
  border-radius: 0;
  border: 0;
  color: var(--global-white);
  background-color: var(--global-green);
  cursor: pointer;
}

.modal-content #exitModal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

.modal-content #exitModal:hover {
  color: red;
}

#my-grid {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

#my-grid::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.error-div {
  display: none;
}