.content {
  >div>* {
    margin-bottom: 10px;
  }

  .scrollable-content {
    padding-bottom: 20px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;

    .sticky-top {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    min-width: 100%;

    tr>td {
      color: #4f4f4f;
    }

    th,
    td {
      padding: 8px;
      border: 1px solid #ccc;
    }

    th {
      background-color: #f2f2f2;
    }
  }
}

.dashboard-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;

  .results-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.search-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;

  select,
  input,
  button {
    border: 1px solid #ccc;
    padding: 5px;
    height: 100%;
    width: 100%;
  }

  button,
  input[type=submit] {
    border-radius: 0;
    border: 0;
    color: var(--global-white);
    background-color: var(--global-green);
    cursor: pointer;
  }

  .div5,
  .div6 {
    button {
      background-color: #fdfd96;
      color: var(--global-black);

      &:hover {
        background-color: #f7f7a2 !important;
      }
    }
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .div3 {
    grid-area: 1 / 3 / 2 / 5;
  }

  .div4 {
    grid-area: 1 / 5 / 2 / 6;
  }

  .div5 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .div6 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .div7 {
    grid-area: 2 / 3 / 3 / 6;
  }

  .div8 {
    grid-area: 3 / 4 / 4 / 6;
  }

  .div9 {
    grid-area: 3 / 1 / 4 / 3;
  }
}