/* Style for a grid container with 2 columns */
.button-grid-2 {
  display: flex;                          /* Use flexbox to create the grid */
  flex-wrap: wrap;                       /* Allow wrapping to new lines if necessary */
  justify-content: space-between;       /* Space items evenly between columns */
  align-items: center;                 /* Align items vertically in the center */
}

/* Margin top for new sections */
.new-section {
  margin-top: 25px;
}

/* Style for buttons in the grid container */
.button-grid-2 .dash-button {
  width: 45%;                           /* Set button width to occupy 45% of the container */
  background-color: var(--global-blue-gray); /* Set background color using the CSS variable */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  border-radius: 12px;                 /* Rounded corners */
}

/* Hover effect for buttons in the grid container */
.button-grid-2 .dash-button:hover {
  background-color: var(--global-blue-gray-hover); /* Background color on hover using the CSS variable */
}

/* Style for anchor elements within the buttons */
.button-grid-2 .dash-button a {
  text-decoration: none;                /* Remove underline from links */
  text-align: center;                  /* Center the text */
  color: var(--global-black);         /* Set text color using the CSS variable */
  display: grid;                      /* Use grid layout for the anchor element */
  grid-template-rows: 2fr 1fr;       /* Define 2 rows with a 2:1 ratio */
  width: 100%;                       /* Set anchor element to occupy full width of the button */
  height: 100%;                     /* Set anchor element to occupy full height of the button */
  margin: 0 auto;                   /* Center the element horizontally */
  padding: 0.5rem 1rem;            /* Padding around the element */
  grid-row-gap: 10px;             /* Gap between the grid rows */
}

/* Style for icons or images within the buttons */
.button-grid-2 .dash-button i,
.button-grid-2 .dash-button img {
  width: 2rem;                    /* Set icon/image width */
  height: 2rem;                   /* Set icon/image height */
  margin: 0 auto;                /* Center the icon/image horizontally */
}

/* Custom styles for the grid container */
.grid-container {
  width: 50%;                     /* Set the width to occupy half the page */
  margin: 0 auto;                /* Center align the container */
  padding: 20px;                /* Add some padding */
}

/* Style for the header inside the grid container */
.grid-container header {
  text-align: center;             /* Center the text within the header */
}

/* Style for chart containers within the grid container */
.chart-container {
  width: 100%;                    /* Each chart container occupies the full width of its grid cell */
}
