body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#signin {
  max-width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0.5em;
}

#signin > div .heading-div, #signin >div .conditions-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signin > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 7vh;
  margin: 0;
  padding: 0;
}

#signin > div > *:not(a) {
  width: 100%;
  text-align: center;
  margin: 0;
}

#signin > div > input {
  width: 100%;
  text-align: left;
  height: 3em;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  background-color: #224957;
  color: var(--primary-white);
}

#signin .heading-div {
  grid-area: 1/1/2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em; 
}

#signin .conditions-div {
  grid-area: 2/1/3/3;
  margin-top: 0.5em;
  font-size: 15px;
}

#signin .div2 {
  margin-top: 1em;
  grid-area: 3/1/4/2;
}

#signin .div3 {
  margin-top: 1em;
  grid-area: 3/2/4/3;
}

#signin .div4 {
  grid-area: 4/1/5/3;
}

#signin .div5 {
  grid-area: 5/1/6/3;
}

#signin .div6 {
  grid-area: 6/1/7/3;
}

#signin .div7 {
  grid-area: 7/1/8/2;
}

#signin .div8 {
  grid-area: 7/2/8/3;
}

#signin .div8 select {
  width: 100%;
  height: 3em;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  background-color: #224957;
  color: var(--primary-white);
  text-align: left;
}

#signin .div9 {
  grid-area: 8/1/9/2;
}

#signin .div10 {
  grid-area: 8/2/9/3;
}

#signin .input-div input:focus {
  outline: none;
  border: 0;
}

#signin .input-div input {
  text-align: left;
  padding-left: 15px;
  height: 3em;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  background-color: #F0F0F0;
  color: var(--primary-white);
}

#signin .button-div > button {
  background-color: var(--primary-green);
  color: var(--primary-white);
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
}

#signin .button-div button:hover {
  cursor: pointer;
}
