/* Style for the body element */
body {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  margin-top: 50px; /* Add a margin from the top */
}

/* Style for the 'signin' element */
#signin {
  max-width: 300px; /* Set maximum width for the element */
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(2, 1fr); /* Create 2 equal-width columns */
  grid-template-rows: repeat(10, 1fr); /* Create 10 equal-height rows */
  grid-column-gap: 10px; /* Add horizontal gap between grid columns */
  grid-row-gap: 0.5em; /* Add vertical gap between grid rows */
}

/* Style for the 'heading-div' and 'conditions-div' elements inside 'signin' */
#signin > div .heading-div,
#signin > div .conditions-div {
  width: 100%; /* Set the width of these divs to occupy 100% of their container */
  display: flex; /* Use flexbox layout for these divs */
  align-items: center; /* Center these divs vertically */
  justify-content: center; /* Center these divs horizontally */
}

/* Style for the children of the 'signin' element */
#signin > div {
  width: 100%; /* Set the width of child elements to occupy 100% of their container */
  display: flex; /* Use flexbox layout for child elements */
  align-items: center; /* Center child elements vertically */
  justify-content: center; /* Center child elements horizontally */
  max-height: 7vh; /* Limit the maximum height of child elements */
  margin: 0; /* Remove margin from child elements */
  padding: 0; /* Remove padding from child elements */
}

/* Style for the children of 'signin' element, except for anchor tags */
#signin > div > *:not(a) {
  width: 100%; /* Set the width of child elements to occupy 100% of their container */
  text-align: center; /* Center the text within the child elements */
  margin: 0; /* Remove margins from child elements */
}

/* Style for input elements inside the 'div3' and 'div4' elements */
#signin > div > input {
  width: 100%; /* Set the width of input elements to occupy 100% of their container */
  text-align: left; /* Align the text to the left within the input field */
  height: 3em; /* Set the height of the input field */
  border-radius: 5px; /* Add border-radius to create rounded corners */
  border: 0; /* Remove borders from the input field */
  font-size: 14px; /* Set the font size for the input field */
  background-color: #224957; /* Set the background color for the input field */
  color: var(--primary-white); /* Use custom CSS variable for text color */
}

/* Style for the 'heading-div' element */
#signin .heading-div {
  grid-area: 1/1/2/3; /* Define the grid area for this element (row start, column start, row end, column end) */
  display: flex; /* Use flexbox layout for this div */
  flex-direction: column; /* Stack items vertically inside this div */
  align-items: center; /* Center items horizontally inside this div */
  justify-content: center; /* Center items vertically inside this div */
  margin-bottom: 1em; /* Add margin at the bottom of this div */
}

/* Style for the 'conditions-div' element */
#signin .conditions-div {
  grid-area: 2/1/3/3; /* Define the grid area for this element (row start, column start, row end, column end) */
  margin-top: 0.5em; /* Add margin at the top of this div */
  font-size: 15px; /* Set the font size for this div */
}

/* Styles for the elements with class 'div2' to 'div10' inside 'signin' */
#signin .div2 {
  margin-top: 1em;
  grid-area: 3/1/4/2; /* Define the grid area for this element (row start, column start, row end, column end) */
}

#signin .div3 {
  margin-top: 1em;
  grid-area: 3/2/4/3; /* Define the grid area for this element (row start, column start, row end, column end) */
}

#signin .div4 {
  grid-area: 4/1/5/3; /* Define the grid area for this element (row start, column start, row end, column end) */
}

#signin .div5 {
  grid-area: 5/1/6/3; /* Define the grid area for this element (row start, column start, row end, column end) */
}

#signin .div6 {
  grid-area: 6/1/7/3; /* Define the grid area for this element (row start, column start, row end, column end) */
}

#signin .div7 {
  grid-area: 7/1/8/2; /* Define the grid area for this element (row start, column start, row end, column end) */
}

#signin .div8 {
  grid-area: 7/2/8/3; /* Define the grid area for this element (row start, column start, row end, column end) */
}

#signin .div8 select {
  width: 100%; /* Set the width of the select element to occupy 100% of its container */
  height: 3em; /* Set the height of the select element */
  border-radius: 5px; /* Add border-radius to create rounded corners */
  border: 0; /* Remove borders from the select element */
  font-size: 14px; /* Set the font size for the select element */
  background-color: #224957; /* Set the background color for the select element */
  color: var(--primary-white); /* Use custom CSS variable for text color */
  text-align: left; /* Align the text to the left within the select element */
}

#signin .div9 {
  grid-area: 8/1/9/2; /* Define the grid area for this element (row start, column start, row end, column end) */
}

#signin .div10 {
  grid-area: 8/2/9/3; /* Define the grid area for this element (row start, column start, row end, column end) */
}

/* Style for the input element inside 'input-div' when focused */
#signin .input-div input:focus {
  outline: none; /* Remove the default focus outline */
  border: 0; /* Remove borders from the input field when focused */
}

/* Style for the input element inside 'input-div' */
#signin .input-div input {
  text-align: left; /* Align the text to the left within the input field */
  padding-left: 15px; /* Add left padding to the input field */
  height: 3em; /* Set the height of the input field */
  border-radius: 5px; /* Add border-radius to create rounded corners */
  border: 0; /* Remove borders from the input field */
  font-size: 14px; /* Set the font size for the input field */
  background-color: #F0F0F0; /* Set the background color for the input field */
  color: var(--primary-white); /* Use custom CSS variable for text color */
}

/* Style for the button inside 'button-div' */
#signin .button-div > button {
  background-color: var(--primary-green); /* Use custom CSS variable for background color */
  color: var(--primary-white); /* Use custom CSS variable for text color */
  border: none; /* Remove borders from the button */
  border-radius: 5px; /* Add border-radius to create rounded corners */
  padding: 0.5em 1em; /* Add padding to the button */
}

/* Style for the button inside 'button-div' when hovered */
#signin .button-div button:hover {
  cursor: pointer; /* Change the cursor to pointer when the button is hovered */
}
